
.resultContainer{
    width: 70%;
    height: 100vh;
    margin: auto;
}

.result-card{
  height: 100%;
  width: 90%;
  margin-bottom: 5px;
  margin-top: 0px;
  margin-right: 5px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.9);
  background: #222;
  color: #F2F2F2;
}

.movieTitle{
  font-size: 20px;
  text-decoration: none !important;
  position: relative;
  bottom: 8px;
}

.movieOverview{
    font-size: 14px;
    margin-bottom: 30px;
    position: relative;
    bottom: 18px;
}


.back{
    margin-top: 25px !important;
    position: relative;
    left: 5px !important;
}
.back:hover{
    transition: all ease 0.3s !important;
  cursor: pointer !important;
  background: none !important ;
  color: rgb(61, 37, 37) !important;
  box-shadow: 0px 0px 10px 0px #FFF !important;
  border-radius: 10px;
}